
#image-grid{
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    --gap:1vw;
    gap: var(--gap);
    --num-cols:1;


    width: 30%;
    margin-left: 33%;
    margin-top: 3%;
    margin-bottom: 10%;


    box-sizing: border-box;/* znaci da border ne povecava dimenzije grid elementa*/
    /* padding: var(--gap); */

    
    
}

img {
    width: 100%;
    object-fit: cover;
}




/* animacija uvelicavanja */
#image-grid img:hover{
    transition: .7s;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/* Responzivnost */
/* sve ispod 1024 piksela */
@media screen and (max-width:1024px) {
    #image-grid{
        --num-cols:1;
        --row-height: 200px;
    }
    
}
/* sve ispod 564 piksela */
@media screen and (max-width:564px) {
    #image-grid{
        --num-cols:1;
        --row-height: 150px;
    }
    
} 
  