
/* a{
    color: #000;
    text-decoration: none !important;
} */

#grid-wrapper{
    width: 90%;
    margin: auto auto;
    margin-bottom: 300px;
}
#selected-artworks{
    text-decoration: none;
    font-size: 25px;
    width: fit-content;
    font-family: Sublima;
    margin-top: 0px;
    margin-bottom: 0px;
}
#selected-artworks:hover{
    transition: .7s;
    color: #01ff91;
}
#headline{
    font-size:70px;
    width: fit-content;
    height: fit-content;
    font-family: Octobre;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
}
#navbar{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#headline:hover{
transition: 0.7s;
color: #01ff01;
}
#headline-wrapper{
display:flex;
margin: top 0px;
margin: bottom 0px; 
}
#image-grid img{
transition: .7s;
}
#image-grid img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#image-grid{
    --gap:30px;
    --num-cols:5;
    --row-height: 300px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;/* znaci da border ne povecava dimenzije grid elementa*/
    /* padding: var(--gap); */

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
     gap: var(--gap);
    
}

img {
    height: 100%; 
    width: 100%;
   object-fit: cover;
}
/* sve ispod 1024 piksela */
@media screen and (max-width:1024px) {
    #image-grid{
        --num-cols:3;
        --row-height: 200px;
    }
    
}
/* sve ispod 564 piksela */
@media screen and (max-width:564px) {
    #image-grid{
        --num-cols:2;
        --row-height: 150px;
    }
    #headline{
        display: none;
    }
    
} 
  