.bio {
  font-family: neue_montreal;
  font-size: 1.2vw;
  padding-left: 30%;
  padding-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 38%;
}

@media screen and (max-width: 480px){
  .bio {
    position: absolute;
    text-align: justify;
    font-size: 5vw;
    /* padding-left: 30%; */
    /* padding-right: 5%; */
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    width: 80%;
  }
  
}
