#flex-roditelj{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
margin: auto;
}


#flex-roditelj a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
body, html{
    background-color: rgb(227,216  ,191);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
}
#otto{
  margin-left: auto;
}
#otto a{
  font-size: x-large;
 
}
#flex-roditelj a:hover{
  color: aqua;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 380px;
  height: 400px;
  background-color:rgb(247,247,252);
  border-radius: 10px;
}
.center h1{
  text-align:center;
  padding: 0 0 20px 0;;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
  
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid silver;
  margin-bottom: 2%;
}
.txt_field input{
  width: 100%;
  padding: 0;
  height: 25px;
  border: none;
  background-color: none;
  outline: none;
}
form button{
  margin-top: 1%;
  width:100%;
  height: 50px;
  
}

form #comment{
  resize: none;
  width: 98%;
  border: none;
}
